
$secondary: #919191; // #F57C00;
.center {
    width: 100%;
    text-align: center;
}
.icon {
    height: 60px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.full-btn{
    width: 95%;
    font-family: 'Courier New', Courier, monospace !important;
}
.ib_font {
    font-family: 'Courier New', Courier, monospace;
    color: #512DA8;
}

.label {
    color: $secondary; // #F57C00;
    font-size: small;
    padding: 0px !important;
    margin: 0px !important;
    font-family: 'Courier New', Courier, monospace;
}
.value {
    color: #512DA8;
    font-size: 12pt;
    padding: 0px !important;
    margin: 0px !important;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.subheader{
    background-color: #eee;
    padding:8px
}
.contents{
    .item {
        padding-top: 5px;
        padding-left: 20px;
        border-bottom: 1px solid #ccc;
        h2{
            padding: 0px !important;
            margin: 0px !important;
        }
    }
}