.center {
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace !important;
}
.icon {
    height: 40px;
}
.full-btn{
    width: 95%;
    font-family: 'Courier New', Courier, monospace !important;
}
.c_font {
    font-family: 'Courier New', Courier, monospace !important;
}
.loading{
    margin: auto;
    text-align: center !important;
}